# NumPy and Pandas Tutorial

This notebook covers the basics of **NumPy** and **Pandas** with examples.

## NumPy Basics

In [ ]:
import numpy as np

In [ ]:

# Creating arrays
arr = np.array([1, 2, 3, 4, 5])
arr

In [ ]:

# Array properties
arr.shape, arr.size, arr.dtype

In [ ]:

# Mathematical operations
arr + 10

In [ ]:

# Reshaping arrays
arr2 = np.arange(1, 7)
arr2.reshape(2, 3)

## Pandas Basics

In [ ]:
import pandas as pd

In [ ]:

# Creating a DataFrame
data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35],
    "Salary": [50000, 60000, 70000]
}

df = pd.DataFrame(data)
df

In [ ]:

# DataFrame information
df.info()

In [ ]:

# Selecting columns
df["Age"]

In [ ]:

# Filtering data
df[df["Age"] > 28]

In [ ]:

# Adding a new column
df["Bonus"] = df["Salary"] * 0.1
df

In [ ]:

# GroupBy example
df.groupby("Age")["Salary"].mean()