# ðŸ¼ Pandas Complete Tutorial
### From Basics to Ultra-Advanced

This notebook is a complete, structured guide to Pandas with explanations and runnable examples.

## 1. Import Libraries

In [ ]:
import pandas as pd
import numpy as np

## 2. Series

In [ ]:

s = pd.Series([10, 20, 30], name="numbers")
s

## 3. DataFrame Creation

In [ ]:

df = pd.DataFrame({
    "name": ["A", "B", "C"],
    "age": [20, 25, 30]
})
df

## 4. DataFrame from NumPy

In [ ]:

arr = np.random.rand(3,2)
pd.DataFrame(arr, columns=["X", "Y"])

## 5. Inspecting Data

In [ ]:

df.head()
df.info()
df.describe()

## 6. Selecting Data

In [ ]:

df["age"]
df.loc[0]
df.iloc[:, 1]

## 7. Filtering

In [ ]:

df[df["age"] > 22]

## 8. Adding & Dropping Columns

In [ ]:

df["salary"] = [3000, 4000, 5000]
df.drop(columns=["salary"])

## 9. Index Operations

In [ ]:

df.set_index("name", inplace=True)
df.reset_index(inplace=True)

## 10. Missing Values

In [ ]:

df_na = pd.DataFrame({"A":[1,2,None], "B":[4,None,6]})
df_na.fillna(df_na.mean(numeric_only=True))

## 11. Sorting

In [ ]:

df.sort_values("age")

## 12. Apply & Map

In [ ]:

df["age"].map(lambda x: x + 5)
df.apply(np.sum, numeric_only=True)

## 13. GroupBy

In [ ]:

data = pd.DataFrame({
    "dept": ["IT","IT","HR","HR"],
    "salary": [5000,6000,4000,4500]
})
data.groupby("dept")["salary"].mean()

## 14. Aggregations

In [ ]:

data.groupby("dept").agg(
    mean_salary=("salary","mean"),
    max_salary=("salary","max")
)

## 15. Merging DataFrames

In [ ]:

df1 = pd.DataFrame({"id":[1,2], "name":["A","B"]})
df2 = pd.DataFrame({"id":[1,2], "salary":[5000,6000]})
pd.merge(df1, df2, on="id")

## 16. String Operations

In [ ]:

df1["name"].str.upper()

## 17. Date & Time

In [ ]:

df_date = pd.DataFrame({"date":["2023-01-01","2023-02-01"]})
df_date["date"] = pd.to_datetime(df_date["date"])
df_date["month"] = df_date["date"].dt.month
df_date

## 18. Categorical Data

In [ ]:

data["dept"] = data["dept"].astype("category")
data.dtypes

## 19. Pivot Table

In [ ]:

pd.pivot_table(data, values="salary", index="dept", aggfunc="mean")

## 20. Window Functions

In [ ]:

s = pd.Series([1,2,3,4,5])
s.rolling(3).mean()

## 21. MultiIndex

In [ ]:

arrays = [["A","A","B"], [1,2,1]]
index = pd.MultiIndex.from_arrays(arrays)
pd.DataFrame({"value":[10,20,30]}, index=index)

## 22. Memory Usage

In [ ]:

df.memory_usage(deep=True)

## ðŸŽ‰ End of Pandas Master Notebook
Practice, modify, and experiment to truly master Pandas.